.footer{
    border-top: 1px solid ;
    line-height: 18pt;
    font-size: 15px;
    padding-bottom: 3rem;
}
.footer p{
    display: flex;
    align-items: center;
    /* margin: 0.5rem; */
    padding-left: 2rem;
}
.footer p:nth-child(1) img{
    width: 50px;
    height: 50px;
}
.footer p:nth-child(1){
    font-size: 25px;
    color: var(--complementary-color);
    padding-left: 0.5rem;
    margin: 0;
}

