#dropbtn{
    background-color: inherit;
    border: none;
}

.dropdown:hover .dropdown-content ul{
    display: block;
}

ul{
    position: absolute;
    display: none;
    background-color: var(--primary-color);
    right: 0;
    list-style-type: none;
    padding: 0.1rem;
}

ul li{
    padding: 0.3rem;
}

ul li a{
    text-decoration: none;
    color: inherit;
    
}

ul li:hover {
    color: #f0e2ac;
    cursor: pointer;
}

@media  screen and (min-width: 480px) {
    ul{
        background-color: inherit;
    }
    #dropbtn{
        display: none;
    }
    .dropdown .dropdown-content ul{
        position: relative;
        display: flex;
    }

    .dropdown:hover .dropdown-content ul{
        display: flex;
        /* width: 100%; */
        /* justify-content: flex-end; */
    }
    
    .dropdown-content ul li{
        padding-left: 3rem;
        padding-right: 1.5rem;
    }
}