.merch-card{
    width: 100%;
    padding: 0.7rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    /* background-color: var(--complementary-color); */
    /* color: var(--accent-color); */
    /* margin: 0.5rem; */
}
.merch-card img{
    width: 50%;
    margin-left: 1rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    box-shadow:  -11px 11px 0px #bebebe46;
}


.merch-card p:nth-child(2){
    margin-top: 3rem;
    color: var(--accent-color);
    background-color: var(--complementary-color);
    padding: 0.5rem;
    border-radius: 2px;
    width: fit-content;
}

@media screen and (min-width: 720px) {
    .merch-card p:nth-child(1){
        font-size: 30px;
    }

    .merch-card p:nth-child(2){
        font-size: 25px;
    }
}