nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    background-image: linear-gradient(#14444bc0, #14444bc0 ),url('/assets/images/landing-page/events.jpg');
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;

}
nav p{
    flex-basis: 100%;
    height: 100%;
    text-align: center;
    padding: 5rem;
    font-size: 45px;
    color: var(--complementary-color);
}

.logo{
    padding: 0;
}

nav .logo img{
    width: 50px;
    height: 50px;
}