<nav>
    <div class="logo">
        <img src="/assets/logo.png" alt="">
    </div>   
    <app-navbar></app-navbar>
</nav>
<div class="hero">
    <div class="hero-copy">
        <p>
            The natture foundation
        </p>
        <p>
            A group of individuals sharing their views on key mental health issues and being there for each other
        </p>
        <p>
            <button>
                <a routerLink="/about-us" routerLinkActive="active">Learn More</a>
            </button>
        </p> 
    </div>
</div>
<div class="our-story">
    <div class="our-story-copy">
        <p>
            Our Story
        </p>
        <p>
            A group of individuals sharing their views on key mental health issues and being there for each other
        </p>
        <p>
            <button>
                <a routerLink="/about-us" routerLinkActive="active">Learn More</a>
            </button>
        </p>
    </div>
    <img src="/assets/images/landing-page/students.jpg" alt="landing-page-image-2.jpg">
</div>
<div class="events">
    <div class="events-copy">
        <p>
            Events
        </p>
        <p>
            A group of individuals sharing their views on key mental health issues and being there for each other
        </p>
        <p>
            <button>
                <a routerLink="/events" routerLinkActive="active">Learn More</a>
            </button>
        </p> 
    </div>
    <img src="/assets/images/landing-page/events.jpg" alt=""> 
</div>
<!-- <div class="footer">
    <p>
        Interested in supporting our mission, browse our <button><a routerLink="/merch" routerLinkActive="active">merch</a></button>
    </p>
</div> -->