<nav> 
    <div class="logo">
        <img src="/assets/logo.png" alt="">
    </div>           
    <app-navbar></app-navbar>
    <p>
        Merch
    </p>
</nav>
<div class="merch">
    <app-merch-card *ngFor = "let product of products" [productName]="product.name" [productPrice]="product.price" [imageUrl]="product.image"></app-merch-card>
    <div class="contact-us-card">
        <p>
            Interested in any of the merch shown here contact us the links below.
        </p>
    </div>
</div>
