<nav> 
    <div class="logo">
        <img src="/assets/logo.png" alt="">
    </div>           
    <app-navbar></app-navbar>
    <p>
        Merch
    </p>
</nav>
<div class="merch">
    <app-merch-card></app-merch-card>
    <app-merch-card></app-merch-card>
    <app-merch-card></app-merch-card>
    <div class="contact-us-card">
        <p>
            Interested in any of the merch shown here
            <button>
                <a href="">Contact Us</a>
            </button>
        </p>
    </div>
</div>
